/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #111;
    color: white;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(135deg, #0a0f1c, #001f3f);
    color: white;
}

.hero button {
    padding: 12px 25px;
    background: #00bfff;
    border: none;
    color: white;
    cursor: pointer;
}

/* Features */
.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.card {
    background: #111;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 220px;
    text-align: center;
}
/* ===== LOGIN PAGE ===== */
.login-box {
    background: #111;
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
}

.login-box input {
    padding: 10px;
    width: 220px;
    border: none;
    border-radius: 5px;
}

.login-box button {
    padding: 10px 20px;
    background: #00bfff;
    border: none;
    color: white;
    cursor: pointer;
}